/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Montserrat', sans-serif;
}

/* common */
.wrapper {
    width: 80%;
    margin: auto;   
}

img {
    width: 100%;    
}

.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.grey-text {
    font-size: 16px;
    color: #b9b9b9;
}

/* header */

.logo img {
    width: 150px;
}

nav{
    margin-top: 30px;
    margin-bottom: 30px;
       
}

.menu {
    list-style-type: none;
}

.menu li{
    display: inline-block;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b9b9b9;
}

.banner {
    height: 450px;
    background-image: url('../img/banner.jpg');
    background-position: center;
    border-radius: 10px;
    margin-bottom: 30px;    
    position: relative;
}

.banner .teaser {
    color: white;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    
}

/* main */
.title{
    padding-bottom: 15px;
}

.leader-text {
    font-weight: bold;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col-img1 {    
    background-image: url('../img/img-1.jpg');  
    height: 200px;
    background-size: cover;
    background-position: bottom; 
}

.col-img2 {    
    background-image: url('../img/banner-2.jpg');  
    height: 200px;
    background-size: cover;
    background-position: center; 
}

.col-img3 {    
    background-image: url('../img/img-3.jpg');  
    height: 200px;
    background-size: cover;
    background-position: center; 
}

.content {
    margin: 20px 0;    
}

.col-left, .col-right {
    width: 20%;        
}

.col-center {
    width: 58%;           
    margin: 0 1%;
}

.content h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* footer */

footer {    
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;  
    font-weight: bold;
}
.cuore{
    color: red;
    font-size: 30px;
}

